
<style>
/* .table-scrollable {
  overflow-x: auto;
  max-width: 95%;
  box-shadow: inset 0 0 5px rgba(150, 150 ,150,0.35);
  margin: auto;
} */
</style>
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">

  <title>My Table</title>
</head>
<body>
  <div class="container-fluid ">


    {% include 'navbar.html' %}



    <!-- <div class="table-scrollable"> -->

    <table id="example" class="table table-bordered table-striped  table-hover table-sm" style="width:100%" >
      
      <thead class="table-dark">

      <tr>
        {% for col_name in columns %}
        <th>{{ col_name }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for row in data %}
      <tr>
        {% for cell in row %}
        <td>{{ cell }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tfoot>
</table>


<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>


<script>
  $(document).ready(function () {
    // Setup - add a text input to each footer cell
    $('#example thead tr')
        .clone(true)
        .addClass('filters')
        .appendTo('#example thead');
 
    var table = $('#example').DataTable({
      
    //   columnDefs: [
    //     {
    //         // The `data` parameter refers to the data for the cell (defined by the
    //         // `data` option, which defaults to the column being worked with, in
    //         // this case `data: 0`.
    //         render: (data, type, row) => data + ' (' + row[1] + ')',
    //         targets: 2
    //     },
    //     { visible: false, targets: [3] }
    // ],
      scrollX: true,
      "lengthMenu": [[3, 7, 10, 25, 50, 100, -1], [3, 7, 10, 25, 50, 100, "All"]],
        orderCellsTop: true,
        fixedHeader: true,
        initComplete: function () {
            var api = this.api();
 
            // For each column
            api
                .columns()
                .eq(0)
                .each(function (colIdx) {
                    // Set the header cell to contain the input element
                    var cell = $('.filters th').eq(
                        $(api.column(colIdx).header()).index()
                    );
                    var title = $(cell).text();
                    $(cell).html('<input type="text" placeholder="' + title + '" />');
 
                    // On every keypress in this input
                    $(
                        'input',
                        $('.filters th').eq($(api.column(colIdx).header()).index())
                    )
                        .off('keyup change')
                        .on('change', function (e) {
                            // Get the search value
                            $(this).attr('title', $(this).val());
                            var regexr = '({search})'; //$(this).parents('th').find('select').val();
 
                            var cursorPosition = this.selectionStart;
                            // Search the column for that value
                            api
                                .column(colIdx)
                                .search(
                                    this.value != ''
                                        ? regexr.replace('{search}', '(((' + this.value + ')))')
                                        : '',
                                    this.value != '',
                                    this.value == ''
                                )
                                .draw();
                        })
                        .on('keyup', function (e) {
                            e.stopPropagation();
 
                            $(this).trigger('change');
                            $(this)
                                .focus()[0]
                                .setSelectionRange(cursorPosition, cursorPosition);
                        });
                });
        },
    });
});
    </script>



</body>

</html>
