<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transaction Form</title>
</head>
<body>
    <h1>Transaction Form</h1>
    <form id="transaction-form">
        <table>
            <tr>
                <th>Source Warehouse </th>
                <td><input type="text" id="text" name="source_warehouse_id" required></td>
                <th>Destination Warehouse:</th>
                <td><input type="text" id="text" name="destination_warehouse_id" required></td>
                <th>Date:</th>
                <td><input type="date" id="date" name="date" required></td>

        </table>

        <h2>Items:</h2>
        <table id="items-table">
            <tr>
                <th>Item ID:</th>
                <th>Quantity Numeric:</th>
                <th>Quantity Weight:</th>
                <th>Action</th>
            </tr>
            <tr>
                <td><input type="number" class="item-id" name="item_id" required></td>
                <td><input type="number" class="quantity-numeric" name="quantity_numeric" required></td>
                <td><input type="number" class="quantity-weight" step="0.1" name="quantity_weight" required></td>
                <td><button type="button" onclick="addRow()">Add Row</button></td>
            </tr>
        </table>
    
        <button type="submit">Submit Transaction</button>
    
    </form>
    
    <div id="response"></div>

    <script src="../static/js/formHandler.js"></script>
    <script src="../static/js/dateistoday.js"></script>
    <script>
        submitForm("transaction-form", "/record_transaction");

        function addRow() {
            const table = document.getElementById("items-table");
            const newRow = document.createElement("tr");
            newRow.innerHTML = `
                <td><input type="number" class="item-id" name="item_id" required></td>
                <td><input type="number" class="quantity-numeric" name="quantity_numeric" required></td>
                <td><input type="number" class="quantity-weight" step="0.1" name="quantity_weight" required></td>
                <td><button type="button" onclick="removeRow(this)">Remove</button></td>
            `;
            table.appendChild(newRow);
        }

        function removeRow(button) {
            const row = button.parentElement.parentElement;
            row.remove();
        }
    </script>
</body>
</html>
